body {
    background-image: url(.../img/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
    background-position: center center;
}


@media screen and (min-width:600px) {
    .into{
        background-color: rgb(0,0,0,0.5);
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate (-50%,-50%) /* középre helyezés */
        border-radius:10px;
    }
}


@media screen and (max-width:600px) {
    .into{
        background-color: rgb(0,0,0,0.5);
        position:fixed;
       top: 45px;
       left:10px;border-radius:10px;
       
    }
}